<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
</head>
<body>
<form action="#" th:action="@{/login_process}" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><label><input type="text" name="email"/></label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label><input type="text" name="password"/></label></td>
        </tr>
        <tr>
            <td>Submit</td>
            <td><input type="submit"/></td>
        </tr>
        <tr>
            <td>Regsiter</td>
            <td><a th:href="@{/join}">join</a></td>
        </tr>
    </table>
</form>
</body>
</html>
